<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body class="text-center" style="position: relative">
		<br />

		<form
			class="form-signin"
			style="
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				min-width: 300px;
			"
		>
			<!-- Logo -->
			<img
				class="mb-4"
				src="https://a.slack-edge.com/80588/marketing/img/icons/icon_slack_hash_colored.png"
				alt=""
				width="72"
				height="72"
			/>
			<!-- Title -->
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

			<!-- Email -->
			<label for="inputEmail" class="sr-only">Email address</label>
			<input
				type="email"
				id="inputEmail"
				class="form-control"
				placeholder="Email address"
				required=""
				autofocus=""
			/>

			<!-- Password -->
			<label for="inputPassword" class="sr-only">Password</label>
			<input
				type="password"
				id="inputPassword"
				class="form-control"
				placeholder="Password"
				required=""
			/>

			<br />

			<!-- Remember me checkbox -->
			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" value="remember-me" /> Remember me
				</label>
			</div>

			<!-- Sign in button -->
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				Sign in
			</button>

			<!-- Copyright -->
			<p class="mt-5 mb-3 text-muted">© 2020 Maximilian Hagelstam</p>
		</form>
	</body>
</html>
